* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
    }
    body {
      margin: 0;
      padding: 0;
      font-family:'Nunito Sans', sans-serif;
    }
    
    #root {
        /* width: 100vw; */
        margin: auto; 
        padding: 10px 20px;
    }
    
    
/* heading */
.heading {
    display: flex;
    flex-direction: column;
    padding: 10px 100px;
    z-index: 20;
    top: 0;

  }

 .subHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding-right: 16px;
  padding-left: 16px;
  height: 80px;
  }
  .subHeadingH1 {
    font-weight: bold;
    font-size: 18px;
  }
  
  #darkMode { 
   display: flex;
   align-items: center;
   gap: 10px;
  }

  #darkMode  h3{ 
    font-weight: 400;
    font-size: 16px;
  }


/* home  */

 .home {
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 50px;
   margin-top: 50px;
   padding: 10px 100px;
 }

 .subHome {
  display: flex;
  gap: 40%;
  width: 100%;
  justify-content: space-between;
  position: sticky;
  z-index: 20;
  /* top: 30px; */
 }

 .inputCover {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 40%;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
 }

 #input {
  width: 100%;
  height: 100%;
  border:0px;
  outline: 0px;

 }

 #regionFilter {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  width: 20%;
  padding: 20px;
  border:0px;
  outline: 0px;
 }

 #fetchData {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  row-gap: 50px;
  align-items: center;
 }

 #fetchCountry {
  display: flex;
  flex-direction: column;
  width: 30%; 
   height: 400px;
  border-radius: 20px;
  background: hsl(0, 0%, 100%);

 }


.fetchCountrySub {
 width: 100%;
 height: 50%;
 overflow: hidden;
 border-top-right-radius: 20px;
 border-top-left-radius: 20px;
}

.fetchCountrySub img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.countryDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  

}

.countryDetails h1 {
  font-size: 18px;
  font-weight: bolder;
  color: black;
}

.countryDetails h3 {
  font-size: 15px;
  font-weight: 500;
  color: black;
}



@media (max-width: 650px) {
  #root{
      max-width: 650px;
      padding: 10px 15px; 
  }
 
  #fetchData {
    flex-direction: column;
   }
   #fetchCountry {
    width: 100%; 

   }

   .heading {
    padding: 10px 0px;
  }

   .subHeading {
    padding-right: 0px;
    padding-left: 0px;
    }

    .subHeadingH1 {
      font-size: 14px;
    }
    
  #darkMode  {
    gap: 5px;
    display: flex;
    align-items: center;
  }
    #darkMode  h3{ 
      font-size: 14px;
    }

    .home {
      padding: 10px 0px;
    }

    .subHome {
      flex-direction: column;
      gap: 20px;
     
     }
    
     .inputCover {
      width: 100%;
     }
    
    #regionFilter{
      width: 60%;
    }



    .countryImg {
      width: 100%;
      height: 400px;
      overflow: hidden;
      position: relative;
    }
    
    .countryImg img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
   

   
    #country {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    
    .countryInfo {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    
    .countryInfo h1 {
      align-self: center; 
    }
    .countryInfoSub {
      display: flex;
      flex-direction: column;
} 


}
